@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
   Bucks New Uni<br />
   Bucks new Uni, Queen Alexandra road<br />
    <abbr title="Phone">P:</abbr>
   1521 013020
</address>
