@page
@model IdentityCustomisationTest.Pages.Properties.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Tell us what you See</h2>

<h4>Beach Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Property.HouseNum" class="control-label"></label>
                <input asp-for="Property.HouseNum" class="form-control" />
                <span asp-validation-for="Property.HouseNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Address1" class="control-label"></label>
                <input asp-for="Property.Address1" class="form-control" />
                <span asp-validation-for="Property.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Address2" class="control-label"></label>
                <input asp-for="Property.Address2" class="form-control" />
                <span asp-validation-for="Property.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Address3" class="control-label"></label>
                <input asp-for="Property.Address3" class="form-control" />
                <span asp-validation-for="Property.Address3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.PostCode" class="control-label"></label>
                <input asp-for="Property.PostCode" class="form-control" />
                <span asp-validation-for="Property.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.MainImage" class="control-label"></label>
                <input asp-for="Property.MainImage" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="Property.MainImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Beach Picture">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
